
<!-- <h1>Hello World {{ title }}</h1>
<p>{{ 1 + '1'}}</p> -->

<!-- generamos un evento llamado click, existen muchos eventos
este evento va a ejecutar nuestro metodo que debe existir en
mi componente si no existe genera un ERROR
 -->

<!-- <button (click)="changeTitle()">New Title</button>

<input type="text" [(ngModel)]="bibleBookName" (keydown.enter)="addBibleBook()"> {{bibleBookName}}
<br>
<br>
<button (click)="addBibleBook()">Add</button>
<button (click)="empty()">Empty</button>
<h2>{{ bibleBookName }}</h2>
<ul>
  <li *ngIf="bibleBooks.length === 0">
    No hay Libros
  </li>

  <li *ngFor="let books of bibleBooks; index as i">
        {{ books }} {{ i + 1}}
        <button (click)="deleteItem(i)">delete</button>
        <button (click)="updateItem(i)">Update</button>
  </li>
</ul> -->


<!-- <div *ngIf=" bibleBookName === 'Luke'"> 
   ngIf => Mostrar Luke
</div>

<div *ngIf=" bibleBookName === '1Kings'"> 
  ngIf => Mostrar 1Kings
</div>

<div *ngIf=" bibleBookName === '2Kings'"> 
  ngIf => Mostrar 2Kings
</div> -->

<!-- <div [ngSwitch]="bibleBookName">
<p *ngSwitchCase=" 'Luke' ">Is Luke</p>
<p *ngSwitchCase=" '1Kings' ">Is 1Kings</p>
<p *ngSwitchCase=" 'Salms' ">Is Salms</p>
<p *ngSwitchDefault>No make Mach</p>
</div> -->


<!-- Recorrido de Objeto -->

<!-- <ul>
  <li *ngFor="let user of users">

    Nombre: {{ user.name }}
    Edad: {{ user.age }}
    Soltero: {{ user.isSingle ? 'Si' : 'No'}} 
    image: {{ user.avatar}}
    <img [src]="user.avatar" alt="">

  </li>
</ul> -->


<!-- <app-product-list></app-product-list>  -->


<!-- <app-list></app-list> -->

<app-users-list></app-users-list>